/* 前導 */
div.adoption_desciption_box{
   display:flex;
   /* border:1px solid red; */
   text-align: center;
   line-height: 50px;
   margin-top:120px;
}
div.adoption_desciption_box > div.adoption_desciption > img{
    max-width:600px;
}
/* 如何領養? *//* 認養須知概述 *//*認養須提供訊息 */
div.adoption_notice{
    /* border:1px solid blue; */
    line-height: 30px;
    margin:30px 0px;
    padding:20px 50px;
}
div.adoption_notice > ul{
    position: relative;
    
}
div.adoption_notice > ul li{
    /* border:1px solid red; */
    display:flex;
    align-items: center;
}
div.adoption_notice > ul li::before{
    content:"";
    background-image:url(../img/svg/paw.svg);
    background-repeat: no-repeat;
    width:15px;
    height:15px;
    position: absolute;
    left:10px;
    /* border:1px solid red; */
}

/* 養寵物需有基本條件及知識 */
div.animalsKnowadgeBox{
    /* border:1px solid red; */
    line-height: 30px;
    margin:30px 0px;
    padding:20px 50px;
    display: flex;
    flex-wrap: wrap;
}
div.animalsKnowadgeBox > div.conditionBox{
    border:1px solid #000000;
    display: flex;
    line-height: 30px;
    padding:10px;
    margin:20px 5px;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    div.animalsKnowadgeBox > div.conditionBox{
        display:flex;
        width:100%;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    div.animalsKnowadgeBox > div.conditionBox{
        display:flex;
        width:100%;
    }
}
@media screen and (max-width: 575px){
    div.animalsKnowadgeBox > div.conditionBox{
        display:flex;
        width:100%;
    }
}
div.animalsKnowadgeBox > div.conditionBox > div.conditionContain{
    /* border:1px solid green; */
    max-width:350px;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    div.animalsKnowadgeBox > div.conditionBox > div.conditionContain{
        display:block;
        max-width:500px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    div.animalsKnowadgeBox > div.conditionBox > div.conditionContain{
        display:block;
        max-width:500px;
    }
}
@media screen and (max-width: 575px){
    div.animalsKnowadgeBox > div.conditionBox > div.conditionContain{
        display:block;
        max-width:500px;
    }
}
div.animalsKnowadgeBox > div.conditionBox > div.conditionContain > div > img{
    width:130px;
    height:120px;
    border-radius:50%;
    text-align: center;
    display: flex;
    margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    div.animalsKnowadgeBox > div.conditionBox > div.conditionContain > div > img{
        /* border:1px solid red; */
        display:inline-block;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    div.animalsKnowadgeBox > div.conditionBox > div.conditionContain > div > img{
        display:inline-block;
    }
}
@media screen and (max-width: 575px){
    div.animalsKnowadgeBox > div.conditionBox > div.conditionContain > div > img{
        display:inline-block;
    }
}
div.animalsKnowadgeBox > div.conditionBox > div.conditionContain >h3{
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    div.animalsKnowadgeBox > div.conditionBox > div.conditionContain >h3{
        display:inline-block;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    div.animalsKnowadgeBox > div.conditionBox > div.conditionContain >h3{
        display:inline-block;
    }
}
@media screen and (max-width: 575px){
    div.animalsKnowadgeBox > div.conditionBox > div.conditionContain >h3{
        display:inline-block;
    }
}
div.animalsKnowadgeBox > div.conditionBox > div.conditionContain >h5{
    margin:10px 0px;
    border-top:1px dashed #000000;
    padding:10px 0px;
}
div.animalsKnowadgeBox > div.conditionBox > div.conditionContain >ul{
    /* border:1px solid red; */
    position:relative;
    display:block;
}
div.animalsKnowadgeBox > div.conditionBox > div.conditionContain >ul >li{
    /* border:1px solid blue; */
    text-decoration: solid;
    display:flex;
    text-align:left;
    /* align-items: center; */
}
div.animalsKnowadgeBox > div.conditionBox > div.conditionContain >ul >li::before{
    /* border:1px solid green; */
    content:"";
    background-image:url(../img/svg/paw.svg);
    background-repeat: no-repeat;
    width:15px;
    height:15px;
    position: absolute;
    left:10px;
    margin:8px;
}


/* @media screen and (min-width: 768px) and (max-width: 992px){

}
@media screen and (min-width: 576px) and (max-width: 767px){

}
@media screen and (max-width: 575px){
    
} */











