/* 前導 */
div.adoption_desciption_box {
  display: flex;
  /* border:1px solid red; */
  text-align: center;
  line-height: 50px;
  margin-top: 120px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.adoption_desciption_box {
    padding: 10px;
    width: 100%;
    max-width: 992px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.adoption_desciption_box {
    padding: 10px;
    width: 100%;
    max-width: 767px;
  }
}
@media screen and (max-width: 575px) {
  div.adoption_desciption_box {
    padding: 10px;
    width: 100%;
    max-width: 575px;
  }
}
div.adoption_desciption_box > div.adoption_desciption > img {
  max-width: 600px;
}
/* 如何領養? */
div.adoptstep_box {
  /* border: 1px solid red; */
  display: flex;
}
div.adoptstep_box > div.adoptStep_box_content {
  /* border: 1px solid blue; */
}
div.adoptstep_box > div.adoptStep_box_content > h3 {
  margin: 20px 0px;
  text-align: center;
}
div.adoptstep_box > div.adoptStep_box_content > div.adopt_item_box {
  /* border: 1px solid red; */
  display: flex;
  max-width: 1200px;
}
div.adoptstep_box
  > div.adoptStep_box_content
  > div.adopt_item_box
  > div.adopt_item {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

@keyframes adopt {
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
}

div.adoptstep_box
  > div.adoptStep_box_content
  > div.adopt_item_box
  > div.adopt_item
  > img {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  animation-name: adopt;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-direction: alternate;

  /* animation-direction: reverse; */
  animation-iteration-count: infinite;
  /* border: 1px solid red; */
}
div.adoptstep_box
  > div.adoptStep_box_content
  > div.adopt_item_box
  > div.adopt_item
  > div.adopt_txt {
  /* border: 1px solid blue; */
  width: 100%;
  padding: 5px 10px;
}

div.adoption_box {
  /* border: 1px solid rgb(125, 175, 9); */
  display: flex;
  justify-content: center;
  margin-top: 100px;
  max-width: 1200px;
  padding-bottom: 500px;
}
div.adoption_box > div.adoption_notice {
  /* border: 1px solid blue; */
  line-height: 30px;
  /* margin: 30px 0px; */
  display: inline-block;
}
div.adoption_box > div.adoption_notice > div.adoption_notice_content {
  /* border: 1px solid rgb(224, 12, 125); */
  max-width: 800px;
  
}
div.adoption_box > div.adoption_notice > div.adoption_notice_content > h4 {
  /* margin: 10px 0px; */
}
div.adoption_box > div.adoption_notice > div.adoption_notice_content > ul {
  /* border: 1px solid blue; */
  position: relative;
}
div.adoption_box > div.adoption_notice > div.adoption_notice_content > ul > li {
  /* border:1px solid red; */
  display: flex;
  align-items: center;
}

div.adoption_box
  > div.adoption_notice
  > div.adoption_notice_content
  > ul
  > li::before {
  content: "";
  background-image: url(../img/svg/paw.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  /* border: 1px solid red; */
}

/* . */
/* . */
/* . */
/* . */
/* . */
/* . */
/* . */
/* . */
/* . */
/* 之前寫的 */

/* 養寵物需有基本條件及知識 */
/* 選擇器 */
/* #feed_dig:target,
#feed_cat:target,
#feed_rabbit:target,
#feed_guineapig,
#feed_hamster:target {
  border: solid 1px red;
} */
div ~ #tab > div:first-of-type,
#feed_dig:target ~ #tab > div.dog_box,
#feed_cat:target ~ #tab > div.cat_box,
#feed_rabbit:target ~ #tab > div.rabbit_box,
#feed_guineapig:target ~ #tab > div.guineapig_box,
#feed_hamster:target ~ #tab > div.hamster_box {
  border: solid 1px red;
}

div.basic_knowledge {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-top: 100px;
}
div.basic_knowledge > div.basic_knowledge_title {
  /* border: 1px solid yellow; */
  display: block;
  margin: 10px;
  text-align: center;
}
div.basic_knowledge > div.animalsKnowadgeBox {
  border: 1px solid red;
  line-height: 30px;
  margin: 30px 0px;
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 1150px;
  max-width: 1000px;
  overflow: hidden;
  flex-direction: row;
}

div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox {
  border: 1px solid #c62020;
  display: flex;
  line-height: 30px;
  padding: 10px;
  margin: 20px 5px;
  max-width: 750px;
  margin-right: 200px;
  margin-bottom: 1000px;
}
div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox:hover {
  box-shadow: 2px 2px 2px rgba(231, 231, 238, 0.6),
    4px 4px 6px rgba(202, 202, 207, 0.4), 6px 6px 12px rgba(176, 176, 179, 0.4);
  /* border: 2px solid #575454; */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox {
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox {
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox {
    display: flex;
    width: 100%;
  }
}
div.animalsKnowadgeBox > div.conditionBox > div.conditionContain {
  /* border:1px solid green; */
  /* max-width: 350px; */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain {
    display: block;
    max-width: 500px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain {
    display: block;
    max-width: 500px;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain {
    display: block;
    max-width: 500px;
  }
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > div
  > img {
  width: 130px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > div
    > img {
    /* border:1px solid red; */
    display: inline-block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > div
    > img {
    display: inline-block;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > div
    > img {
    display: inline-block;
  }
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > h3 {
  /* border:1px solid red; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > h3 {
    display: inline-block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > h3 {
    display: inline-block;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > h3 {
    display: inline-block;
  }
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > h5 {
  margin: 10px 0px;
  border-top: 1px dashed #000000;
  padding: 10px 0px;
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > ul {
  /* border:1px solid red; */
  position: relative;
  display: block;
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > ul
  > li {
  /* border:1px solid blue; */
  text-decoration: solid;
  display: flex;
  text-align: left;
  /* align-items: center; */
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > ul
  > li::before {
  /* border:1px solid green; */
  content: "";
  background-image: url(../img/svg/paw.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  margin: 8px;
}

/* @media screen and (min-width: 768px) and (max-width: 992px){

}
@media screen and (min-width: 576px) and (max-width: 767px){

}
@media screen and (max-width: 575px){
    
} */

/* 小圖示 */
div.basic_knowledge > div.picture_target {
  /* border: 1px solid red; */
  display: flex;
}
div.basic_knowledge > div.picture_target > div.picture_target_item_box {
  display: flex;
  height: 100px;
}
div.basic_knowledge
  > div.picture_target
  > div.picture_target_item_box
  > div.picture_target_item {
  /* border: 1px solid blue; */
  margin: 12px;
}
div.basic_knowledge
  > div.picture_target
  > div.picture_target_item_box
  > label:checked {
  /* border: 10px solid green; */
}
div.basic_knowledge
  > div.picture_target
  > div.picture_target_item_box
  > div.picture_target_item
  > a
  > img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  /* border: 1px solid yellow; */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge
    > div.picture_target
    > div.picture_target_item_box
    > div.picture_target_item
    > a
    > img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge
    > div.picture_target
    > div.picture_target_item_box
    > div.picture_target_item
    > a
    > img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge
    > div.picture_target
    > div.picture_target_item_box
    > div.picture_target_item
    > a
    > img {
    width: 40px;
    height: 40px;
  }
}
div.basic_knowledge
  > div.picture_target
  > div.picture_target_item_box
  > div.picture_target_item
  > a
  > img:hover {
  width: calc(60px * 1.5);
  height: calc(60px * 1.5);
}
