/* 前導 */
div.adoption_desciption_box {
  display: flex;
  /* border:1px solid red; */
  text-align: center;
  line-height: 50px;
  margin-top: 120px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.adoption_desciption_box {
    padding: 10px;
    width: 100%;
    max-width: 992px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.adoption_desciption_box {
    padding: 10px;
    width: 100%;
    max-width: 767px;
  }
}
@media screen and (max-width: 575px) {
  div.adoption_desciption_box {
    padding: 10px;
    width: 100%;
    max-width: 575px;
  }
}
div.adoption_desciption_box > div.adoption_desciption > img {
  max-width: 600px;
}
/* 如何領養? */ /* 認養須知概述 */ /*認養須提供訊息 */
div.adopt_box {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.adopt_box {
    width: 100%;
    max-width: 992px;
    padding: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.adopt_box {
    width: 100%;
    max-width: 992px;
    padding: 10px;
  }
}
@media screen and (max-width: 575px) {
  div.adopt_box {
    width: 100%;
    max-width: 992px;
    padding: 10px;
  }
}

div.adopt_box > div.adoption_notice {
  /* border: 1px solid blue; */
  line-height: 30px;
  margin: 30px 0px;
  display: block;
  justify-content: flex-start;
}
div.adopt_box > div.adoption_notice > div.adoption_notice_content {
  /* border: 1px solid rgb(224, 12, 125); */
  max-width: 800px;
}
div.adopt_box > div.adoption_notice > ul {
  position: relative;
}
div.adopt_box > div.adoption_notice > div.adoption_notice_content ul li {
  /* border:1px solid red; */
  display: flex;
  align-items: center;
}
div.adopt_box > div.adoption_notice > div.adoption_notice_contentul li::before {
  content: "";
  background-image: url(../img/svg/paw.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  /* border:1px solid red; */
}

/* 養寵物需有基本條件及知識 */
div.basic_knowledge {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-top: 100px;
}
div.basic_knowledge > div.basic_knowledge_title {
  /* border: 1px solid yellow; */
  display: block;
  margin: 10px;
  text-align: center;
}
div.basic_knowledge > div.animalsKnowadgeBox {
  /* border: 1px solid red; */
  line-height: 30px;
  margin: 30px 0px;
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox {
  border: 1px solid #d1cbcb;
  display: flex;
  line-height: 30px;
  padding: 10px;
  margin: 20px 5px;
}
div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox:hover {
  box-shadow: 2px 2px 2px rgba(231, 231, 238, 0.6),
    4px 4px 6px rgba(202, 202, 207, 0.4), 6px 6px 12px rgba(176, 176, 179, 0.4);
  /* border: 2px solid #575454; */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox {
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox {
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge > div.animalsKnowadgeBox > div.conditionBox {
    display: flex;
    width: 100%;
  }
}
div.animalsKnowadgeBox > div.conditionBox > div.conditionContain {
  /* border:1px solid green; */
  max-width: 350px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain {
    display: block;
    max-width: 500px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain {
    display: block;
    max-width: 500px;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain {
    display: block;
    max-width: 500px;
  }
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > div
  > img {
  width: 130px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > div
    > img {
    /* border:1px solid red; */
    display: inline-block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > div
    > img {
    display: inline-block;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > div
    > img {
    display: inline-block;
  }
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > h3 {
  /* border:1px solid red; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > h3 {
    display: inline-block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > h3 {
    display: inline-block;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge
    > div.animalsKnowadgeBox
    > div.conditionBox
    > div.conditionContain
    > h3 {
    display: inline-block;
  }
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > h5 {
  margin: 10px 0px;
  border-top: 1px dashed #000000;
  padding: 10px 0px;
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > ul {
  /* border:1px solid red; */
  position: relative;
  display: block;
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > ul
  > li {
  /* border:1px solid blue; */
  text-decoration: solid;
  display: flex;
  text-align: left;
  /* align-items: center; */
}
div.basic_knowledge
  > div.animalsKnowadgeBox
  > div.conditionBox
  > div.conditionContain
  > ul
  > li::before {
  /* border:1px solid green; */
  content: "";
  background-image: url(../img/svg/paw.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  margin: 8px;
}

/* @media screen and (min-width: 768px) and (max-width: 992px){

}
@media screen and (min-width: 576px) and (max-width: 767px){

}
@media screen and (max-width: 575px){
    
} */

/* 小圖示 */
div.basic_knowledge > div.picture_target {
  /* border: 1px solid red; */
  display: flex;
}
div.basic_knowledge > div.picture_target > div.picture_target_item_box {
  display: flex;
  height: 100px;
}
div.basic_knowledge
  > div.picture_target
  > div.picture_target_item_box
  > div.picture_target_item {
  /* border: 1px solid blue; */
  margin: 12px;
}
div.basic_knowledge
  > div.picture_target
  > div.picture_target_item_box
  > label:checked {
  /* border: 10px solid green; */
}
div.basic_knowledge
  > div.picture_target
  > div.picture_target_item_box
  > div.picture_target_item
  > img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  /* border: 1px solid yellow; */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.basic_knowledge
    > div.picture_target
    > div.picture_target_item_box
    > div.picture_target_item
    > img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.basic_knowledge
    > div.picture_target
    > div.picture_target_item_box
    > div.picture_target_item
    > img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 575px) {
  div.basic_knowledge
    > div.picture_target
    > div.picture_target_item_box
    > div.picture_target_item
    > img {
    width: 40px;
    height: 40px;
  }
}
div.basic_knowledge
  > div.picture_target
  > div.picture_target_item_box
  > div.picture_target_item
  > img:hover {
  width: calc(60px * 1.5);
  height: calc(60px * 1.5);
}
