/* 前導 */
div.adoption_desciption_box{
   border:1px solid red;
   text-align: center;
}
div.adoption_desciption_box > div.adoption_desciption > img{
    max-width:600px;
}
/* 領養步驟 */
div.adoption_contect{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#D5E1DF;
}
div.adoption_contect > div.adoption_steps_box{
    display:flex;
    flex-wrap:wrap;
    text-align:start;
    border:1px solid red;
    max-width: 600px;
    text-align: left;
    line-height: 30px;
    margin:30px 0px;
}
/* 認養須知概述 */
div.adoption_contect > div.adoption_notice{
    border:1px solid yellow;
    max-width:600px;
    margin:20px 0px;
}
div.adoption_contect > div.adoption_notice >h4{
    margin:10px 0px;
}
div.adoption_contect > div.adoption_notice > ol.adoption_notice_box > li{
    position:relative;
}
div.adoption_contect > div.adoption_notice > ol.adoption_notice_box > li::before{
    content:"";
    background-image:url("../img/svg/paw.svg");
    background-repeat: no-repeat;
    background-size: 10px 12px;
    /* border:1px solid red; */
    width: 100%;
    height:100%;
    position:absolute;
    left:-15px;
    text-align: center;
}
div.adoption_contect> div.adoption_notice > ol.adoption_notice_box >li{
    /* border:1px solid red; */
    margin:10px 0px;
}
 
div.adoption_contect > div.adoption_steps_box > div.adoption_steps >p{
    font-size:16px;
}
/* 養寵物需基本條件 */
div.must_have_box{
    margin:0 auto;
    width:100%;
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    background-color:#c4c4c4;
}
div.must_have_box > div.must_have_condition:nth-child(n){
    /* background-color:#BFC8D7; */
    background-color:#F0E4D4;
}
div.must_have_box > div.must_have_condition:nth-child(2n){
    /* background-color:#9FAC8F; */
    /* background-color:#E3E2B4; */
    background-color:#F2EEE5;
}
div.must_have_box > div.must_have_condition{
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:10px;
    margin:10px 0px;
    text-align: start;
    /* background-color: #EDECE9; */
    max-width:800px;
}
div.must_have_box > div.must_have_condition > div.condition_contain {
    line-height: 40px;
}
div.must_have_box > div.must_have_condition > div.condition_contain > h3{
    display:inline-block;
    /* border:1px solid blue; */
    width:100%;
    padding:30px 10px;
    text-align: center;
}

