div.booking_info{
    position:relative;
    top:200px;
    text-align: center;
    width:100%;
    height:100%;
}
div.booking_info_pic{
    border:1px solid red;
    width:100%;
    height:500px;
}

div.booking_info > div.booking_info_pic >img{
    border:1px solid red;
    width:500px;
    height:500px;
}
