div.checkbox{
    position:relative;
    top:200px;
    
}

div.bookingroom_box {
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position:relative;
    top:200px;
    
}
div.bookingroom_box > div.bookingroom_pic{
    display:flex;
}
div.bookingroom_box > div.bookingroom_pic > a >img{
   width:100%;
   max-width:500px;
}   