div.booking_cards{
    display:flex;
    flex-wrap:wrap;
    margin-bottom:100px; 
}
div.booking_cards > div.booking_info{
    
    position:relative;
    top:200px;
    text-align: center;
    width:100%;
    min-width:600px;
    max-width:800px;
    height:100%;
    max-height:1300px;
    margin:20px;
    padding:15px;
    border:5px solid rgb(58, 57, 56);
    border-radius:20px;
}
div.booking_cards > div.booking_info > div.booking_info_pic{
    width:100%;
    height:500px;
    margin:20px 0px;
}

div.booking_cards > div.booking_info > div.booking_info_pic >img{
    width:500px;
    height:500px;
}
.booking_info_description{
    text-align: start;  
}
div.booking_cards > div.booking_info > div.booking_info_description > div.rooms_details >span{
    border:1px solid rgb(15, 15, 15);
    border-radius:2px;
    padding:2px;
    margin:3px 2px;
    display:inline-block;

}
div.booking_cards > div.booking_info >div.booking_info_description > div.rooms_main_details{
    margin:15px 0px;
}
div.booking_cards > div.booking_info >div.booking_info_description > div.rooms_main_details >h3{
    margin:5px 0px;
}
div.booking_cards > div.booking_info >div.booking_info_description > div.rooms_main_details >p{
    margin:7px 0px;
}
div.booking_cards > div.booking_info > div.rooms_prices >span{
    display:flex;
    justify-content: flex-end;
    margin:35px 0px;
} 
div.booking_cards > div.booking_info > div.rooms_prices > span > p.prices{
    color:rgb(12, 12, 241);
    margin:0px 3px;
    font-size:24px;
}

/*本館住宿特色*/
div.booking_features{
    display:flex;
    flex-direction: column;
    border:1px solid red;
    margin-top:50px;
}
div.booking_features > div.booking_features_box{
    display:flex;
    border:1px solid blue;
    flex-direction: column;
    vertical-align: middle;
}

div.booking_features > div.booking_features_box > div.booking_features_box_pic{
    display:inline;
    border:1px solid yellow;
    width:100%;
    max-width:500px;
}

div.booking_features > div.booking_features_box > div.booking_features_box_description{
    display:inline;
}
/*漫畫格式*/

div.bookingroom_box {
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position:relative;
    top:200px;
    
}
div.bookingroom_box > div.bookingroom_pic{
    display:flex;
    margin:10px 0px;
}
.booking_img{
    width: 100%;
    min-width:400px;
    height: 100%;
}
div.bookingroom_box > div.bookingroom_pic > a >img{
   width:100%;
   max-width:500px;
   
}   