*{
    box-sizing: border-box;
    margin:0 auto;
   
}
body{
    font-family: "Noto Sans TC","RocknRoll One" , "Robot" , "Times New Roman";
    font-size: 16px;
}
h1{
    font-size:30px;
    font-weight: bold;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 24px;
}
h4{
    font-size:22px;
}
p{
    font-size:20px;
}
#logo{
    max-width:150px;
    width:100%;
} 
.logo{
    display:inline-block;
    padding:10px 15px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}