div.footer {
  display: flex;
  justify-content: center;
  background-color: #edece9;
  vertical-align: middle;
  /* margin-top: 100px; */
  /* border: 1px solid red; */
  position: relative;
  bottom: 0;
}
div.footer > div.footer_box {
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 100%;
}
div.footer > div.footer_box > div.footer_box_content {
  /* border:1px solid blue;  */
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.footer > div.footer_box > div.footer_box_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.footer > div.footer_box > div.footer_box_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  div.footer > div.footer_box > div.footer_box_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
div.footer > div.footer_box > div.footer_box_content > div.footer_info_box {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.footer > div.footer_box > div.footer_box_content > div.footer_info_box {
    /* border:1px solid blue; */
    margin: 10px 10px;
    justify-content: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.footer > div.footer_box > div.footer_box_content > div.footer_info_box {
    margin: 10px 10px;
    justify-content: center;
  }
}
@media screen and (max-width: 575px) {
  div.footer > div.footer_box > div.footer_box_content > div.footer_info_box {
    margin: 10px 10px;
    justify-content: center;
  }
}
div.footer > div.footer_box > div.footer_box_content > div.footer_info {
  /* border:1px solid blue; */
  width: 600px;
}
@media screen and (max-width: 575px) {
  div.footer > div.footer_box > div.footer_box_content > div.footer_info {
    max-width: 300px;
  }
}
div.footer
  > div.footer_box
  > div.footer_box_content
  > div.footer_info
  > div.footer_icon {
  /* border:1px solid blue; */
  display: flex;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.footer
    > div.footer_box
    > div.footer_box_content
    > div.footer_info
    > div.footer_icon {
    /* border:1px solid red; */
    justify-content: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.footer
    > div.footer_box
    > div.footer_box_content
    > div.footer_info
    > div.footer_icon {
    justify-content: center;
  }
}
@media screen and (max-width: 575px) {
  div.footer
    > div.footer_box
    > div.footer_box_content
    > div.footer_info
    > div.footer_icon {
    justify-content: center;
  }
}
div.footer
  > div.footer_box
  > div.footer_box_content
  > div.footer_info
  > div.footer_icon
  > div.footer_box_content_box_img {
  display: flex;
  margin: 0px 10px;
}
div.footer
  > div.footer_box
  > div.footer_box_content
  > div.footer_info
  > div.footer_icon
  > div.footer_box_content_box_img
  > a
  > img {
  content: "";
  width: 30px;
  height: 30px;
}
div.footer > div.footer_box > div.footer_box_content > div.footer_box_main_box {
  /* border:1px solid yellow; */
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: center;
  vertical-align: middle;
}
div.footer
  > div.footer_box
  > div.footer_box_content
  > div.footer_box_main_box
  > div.footer_box_content_box_img
  > a {
  width: 10px;
}
div.footer
  > div.footer_box
  > div.footer_box_content
  > div.footer_box_main_box
  > div.footer_box_content_box_img
  > a
  > img {
  content: "";
  width: 30px;
  height: 30px;
  /* border:1px solid red; */
  margin: 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.footer > div.footer_box > div.footer_box_content > div.footer_statement {
    /* border:1px solid green; */
    max-width: 992px;
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.footer > div.footer_box > div.footer_box_content > div.footer_statement {
    max-width: 767px;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  div.footer > div.footer_box > div.footer_box_content > div.footer_statement {
    max-width: 575px;
    width: 100%;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.footer
    > div.footer_box
    > div.footer_box_content
    > div.footer_statement
    > p {
    /* border:1px solid green; */
    max-width: 992px;
    width: 100%;
    padding: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  div.footer
    > div.footer_box
    > div.footer_box_content
    > div.footer_statement
    > p {
    max-width: 767px;
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 575px) {
  div.footer
    > div.footer_box
    > div.footer_box_content
    > div.footer_statement
    > p {
    max-width: 575px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
}
