div.footer{
    display:flex;
    justify-content: center;
    background-color:#EDECE9;
    vertical-align: middle;
    margin-top:300px;
}   
div.footer > div.footer_box {
    /* border:1px solid red; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:start;
    width: 100%;
}
div.footer > div.footer_box > div.footer_box_content{
    /* border:1px solid blue;  */
    display:flex;
    flex-direction: row;
    width:100%;
    max-width: 1500px;
    padding:20px;
}
div.footer > div.footer_box > div.footer_box_content > div.footer_info_box{
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0%;
}
div.footer > div.footer_box > div.footer_box_content > div.footer_info{
   /* border:1px solid blue; */
   width:600px;
}
div.footer > div.footer_box > div.footer_box_content > div.footer_info > div.footer_icon{
    /* border:1px solid blue; */
    display:flex;
    margin-bottom:10px;
}
div.footer > div.footer_box > div.footer_box_content > div.footer_info > div.footer_icon > div.footer_box_content_box_img{
    display:flex;
    margin:0px 10px;
}
div.footer > div.footer_box > div.footer_box_content > div.footer_info > div.footer_icon > div.footer_box_content_box_img >a >img{
    content: "";
    width:30px;
    height:30px;
}
div.footer > div.footer_box > div.footer_box_content > div.footer_box_main_box{
    /* border:1px solid yellow; */
    display:flex;
    flex-direction: row;
    width:300px;
    justify-content: center;
    vertical-align: middle;
}
div.footer > div.footer_box > div.footer_box_content > div.footer_box_main_box > div.footer_box_content_box_img > a{
    width:10px;
}
div.footer > div.footer_box > div.footer_box_content > div.footer_box_main_box > div.footer_box_content_box_img > a > img{
    content:"";
    width:30px;
    height:30px;
    /* border:1px solid red; */
    margin:10px;
}