div.background_img {
  border: 1px solid red;
  background-image: url("../img-adjust_size/bg/paw01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
}
div.background_img > div.form {
  border: 1px solid red;
  margin-top: 100px;

  display: flex;
  height: 800px;
}
div.background_img > div.form > div.form_adopt {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  background-color: rgba(255, 242, 220, 0.3);
  width: 400px;

  margin: 50px auto;
}
div.background_img > div.form > div.form_adopt > div.formTitle {
  border: 1px solid rgb(101, 231, 21);
  display: flex;
  text-align: center;
  margin: 15px 0px;
}
div.background_img > div.form > div.form_adopt > form > div.form_info {
  border: 1px solid red;
  margin: 10px 0px;
}
