/*導覽列*/
nav{
    display:flex;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center; 
    align-items: center;
    background-color:#EDECE9;
    width:100%;
    position:fixed; 
    top:0;
    z-index: 1;
}
nav > div > ul.header{
    display:flex;
}
#introduction , #adopt , #room , #merchandise , #user , #cart{
    width:30px;
    height:30px;
    margin:5px;
    max-width: 100%;
    max-height: 100%;
}
#user , #cart::before{
    content: "";
}
nav > div > ul.header{
    display: flex;
    justify-content:left;
    list-style: none;
    margin:0px;
    font-size: 0px;
}
nav > div > ul.header > li{
    display:flex;
    align-items: center;
    padding-right: 15px;
    font-size:24px; 
    vertical-align: middle;
    text-align:center ;
    /* position:relative; */
}
nav > div > ul.header >li >a{
    display:flex;
    color:#000000;
    display: inline-block;
    vertical-align: middle;
    text-align:center ;
}
nav > div > ul.header >li >a > span{
    display:inline-block;
    vertical-align:middle;
}
/* 以下為:我要領養-下拉選單 */
li.adopt_menu{
    /* border:1px solid red; */
    position:relative;
}
ul.adopt_menu_select_menu{
    /* border:1px solid red; */
    position:absolute;
    width:10px;
    height:100%;
    top:100%;
    display:none;
    flex-direction: column;
    /* background-color:tomato; */
}
li.adopt_menu:hover >.adopt_menu_select_menu{
    display:block;
}
li.adopt_menu_select{
    display: block;
    /* border:1px solid blue; */
    position:relative;
    width:100%;
    height:50px;
}
li.adopt_menu_select > a{
    display: block;
    position:absolute;
    width:100%;
    height:100%;
    /* border:1px solid green; */
}
li.adopt_menu_select > a > span{
    display: block;
    min-width:200px;
    min-height:50px;
    padding:0px 30px;
    /* border:1px solid yellow; */
    color:#000000;   
    font-size: 20px;
    text-align: center;
    background-color:#EDECE9;
    padding-top:12px;
}

