/*導覽列*/
nav {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  background-color: #edece9;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  max-height: 60px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  nav {
    position: relative;
    height: 100px;
    max-width: 992px;
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  nav {
    position: relative;
    height: 100px;
    max-width: 767px;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  nav {
    position: relative;
    height: 100px;
    width: 100%;
  }
}
#introduction,
#adopt,
#room,
#merchandise,
#user,
#cart {
  width: 30px;
  height: 30px;
  margin: 5px;
}
#user,
#cart::before {
  content: "";
}
nav > div > ul.header_bar {
  display: flex;
  justify-content: left;
  list-style: none;
  margin: 0px;
  font-size: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  nav > div > ul.header_bar {
    flex-direction: column;
    /* border:1px solid red; */
    position: absolute;
    top: 60px;
    right: -200px;
    background-color: #edece9;
    display: none;
    transform: translateX(-100%);
    transition: 1s;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  nav > div > ul.header_bar {
    flex-direction: column;
    /* border:1px solid red; */
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: #edece9;
    display: none;
  }
}
@media screen and (max-width: 575px) {
  nav > div > ul.header_bar {
    flex-direction: column;
    /* border:1px solid red; */
    position: absolute;
    top: 100px;
    right: 0px;
    background-color: #edece9;
    display: none;
  }
}
nav > div > ul.header_bar > li {
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-size: 24px;
  vertical-align: middle;
  text-align: center;
  /* border: 1px solid blue; */
}

nav > div > ul.header_bar > li > a {
  display: flex;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

nav > div > ul.header_bar > li > a > span {
  display: inline-block;
  vertical-align: middle;
}
nav > div > ul.header_bar > li > a:hover > span {
  color: rgb(196, 191, 191);
}
nav > div > ul.header_bar > li > a:selected > span {
  /* color: rgb(164, 54, 54);
  background-color: #8d8d88; */
}

nav > div > ul.header_bar > li > a:hover > span > img {
  transform: rotate(360deg);
  transition-duration: 1s;
}
nav > div > ul.user_cart > li > a:hover > img#user {
  animation-name: user_icon;
  animation-duration: 3s;
  animation-direction: reverse;
}
@keyframes user_icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
nav > div > ul.user_cart > li > a:hover > img#cart {
  animation-name: cart_icon;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
}
@keyframes cart_icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* 以下為:我要領養-下拉選單 */
li.adopt_menu {
  /* border:1px solid red; */
  position: relative;
}
ul.adopt_menu_select_menu {
  /* border: 1px solid red; */
  position: absolute;
  width: 150px;
  height: 100%;
  top: 100%;
  display: none;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  ul.adopt_menu_select_menu {
    left: -150px;
    top: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  ul.adopt_menu_select_menu {
    left: -150px;
    top: 10px;
  }
}
@media screen and (max-width: 575px) {
  ul.adopt_menu_select_menu {
    left: -150px;
    top: 10px;
  }
}
li.adopt_menu:hover > .adopt_menu_select_menu {
  display: block;
}
li.adopt_menu_select {
  display: block;
  /* border: 1px solid blue; */
  position: relative;
  width: 100%;
  height: 50px;
}
li.adopt_menu_select > a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* border:1px solid green; */
}
li.adopt_menu_select > a > span {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid yellow; */
  color: #000000;
  font-size: 20px;
  text-align: center;
  background-color: #edece9;
  height: 50px;
  width: 100px;
}
li.adopt_menu_select > a:focus > span {
  background-color: #a0a099;
  color: #edece9;
  border: 1px solid red;
}
li.adopt_menu_select > a:hover > span {
  background-color: #8d8d88;
  color: #edece9;
}

/* 以下為:住宿-下拉選單 booking_rooms_menu */
li.booking_rooms_menu {
  /* border:1px solid red; */
  position: relative;
}
ul.booking_rooms_menu_select_menu {
  /* border: 1px solid green; */
  position: absolute;
  width: 150px;
  height: 100px;
  top: 100%;
  display: none;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  ul.booking_rooms_menu_select_menu {
    left: -150px;
    top: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  ul.booking_rooms_menu_select_menu {
    left: -150px;
    top: 10px;
  }
}
@media screen and (max-width: 575px) {
  ul.booking_rooms_menu_select_menu {
    left: -150px;
    top: 10px;
  }
}
li.booking_rooms_menu:hover > .booking_rooms_menu_select_menu {
  display: block;
}
li.booking_rooms_select {
  display: block;
  /* border:1px solid blue; */
  position: relative;
  width: 100%;
  height: 50px;
}
li.booking_rooms_select > a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* border:1px solid green; */
}
li.booking_rooms_select > a > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  /* border:1px solid yellow; */
  color: #000000;
  font-size: 20px;
  text-align: center;
  background-color: #edece9;
  height: 50px;
}
li.booking_rooms_select > a:focus > span {
  background-color: #a0a099;
  color: #edece9;
  /* border:1px solid red; */
}
li.booking_rooms_select > a:hover > span {
  background-color: #8d8d88;
  color: #edece9;
}
nav > div > ul.user_cart {
  display: flex;
  flex-direction: row;
}
nav > div > ul.user_cart > li {
  margin: 0px 5px;
}

/* 漢堡選單 */
nav > label > div.burger_box {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: none;
  /* border: 1px solid red; */
}
nav > label > div.burger_box > div.bgr_bar {
  width: 40px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  position: relative;
  left: 20px;
  top: 20px;
  border-radius: 5px;
  /* display: none; */
}
.top {
  margin-bottom: 6px;
}
.bottom {
  margin-top: 6px;
}
/* html用input的checkbox與for特性做漢堡選單的選取器 */
/* css用checked做出漢堡隱藏選單出現的效果 */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #burger:checked ~ #nav_menu {
    display: block;
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  #burger:checked ~ #nav_menu {
    display: block;
    /* border: 1px solid red; */
  }
}
@media screen and (max-width: 575px) {
  #burger:checked ~ #nav_menu {
    display: block;
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  nav > label > div.burger_box {
    /* border: 1px solid red; */
    display: inline-block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  nav > label > div.burger_box {
    /* border: 1px solid red; */
    display: inline-block;
  }
}

@media screen and (max-width: 575px) {
  nav > label > div.burger_box {
    /* border: 1px solid red; */
    display: inline-block;
  }
}
/* 將checkbox隱藏 */
#burger {
  display: none;
  opacity: 0;
}
