/*abandoned部分*/
div.abandoned{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding:0px 40px;
    text-align:center;
    align-items: center;
}
.abandoned_box {
    display:flex;
    align-content: center; 
    display:block;
    /* padding:100px 10px; */
    background-size:contain;
    overflow:hidden;
    margin-top:200px;
}
.abandoned > .abandoned_box > .abandoned_box_pic{
    display:flex;
    width:1200px;
    /* min-width: 300px;
    max-width: 1900px; */
    text-align:center;
    padding:10px 0px;
}
.abandoned > .abandoned_box > .abandoned_box_pic > img.abandoned_pic_pic{
    width:200px;
    /* border:1px solid red; */
}
.abandoned_pic{
    width:100%;
    height: auto;
    text-align:center;
    padding:0px 22px;
}
.abandoned_description{
    text-align:center;
    padding:20px;
    /* font-size:80px; */
    letter-spacing:8px;
    line-height: 24px;
 }
/* 領養區 */
div.index_adopt_box{
    /* border:1px solid red;  */
    font-size: 0px;
    text-align: center;
    display:flex;
    justify-content:center; 
    flex-direction: column;
    width:1200px;
    padding:100px 0px;
    /* background-color:#EDECE9;
    border-radius: 500px 300px 400px 500px;
    clip-path:circle(70% at 50% 50% ) ; */
}
div.index_adopt_box >h1{
    text-align: center;
    font-size: 40px;
}
div.index_adopt_box > div.index_adopt_description{
    font-size:20px;
}
div.index_adopt_box >div.index_adopt{
    /* border:1px solid blue; */
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    max-width:1200px;
    height: 100%;
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic{
    /* border:1px solid yellow;  */
    width:250px;
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic > a > img{
    width:220px;
    padding:5px;
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic:hover{
    transform:scale(1.1,1.1);
}
div.index_adopt_box >div.index_adopt_pic_box{
    /* border:1px solid red; */
    display:flex;
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic > a {
    /* border:1px solid green; */
    position:relative;
    font-size:20px;
    color:#535151;
    /* width:200px; */
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic > a:hover {
    /* border:1px solid green; */
    position:relative;
    font-size:22px;
    color:#ffffff;
}

div.index_adopt_box >div.index_adopt >div.index_adopt_pic > a >span{
    /* border:1px solid red; */
    position:absolute;
    display:flex;
    right: 50px;
    top:-35px;
}
/*領養不棄養標語*/
.adopt_dont_abandon{
    display:flex;
    justify-content: center;
    padding:100px 0px; 
    /* border:1px solid red; */
}  
div.adopt_dont_abandon > div.adopt_dont_abandon_slogan > a > span::before{
    content:"";
    /* border:1px solid red; */
}
div.adopt_dont_abandon > div.adopt_dont_abandon_slogan > a > span > img.slogan{
    display:flex;
    /* border:1px solid red; */
    width:900px;
    height:100%;
    min-width: 350px;
} 
/*本館其他服務*/
div.index_other_serves_box{
    /* border:1px solid red; */
    font-size: 0px;
    text-align: center;
    display:flex;
    justify-content:center; 
    flex-direction: column;
    width:1200px;
    padding:100px 0px;
}
div.index_other_serves_box >h1{
    text-align: center;
    font-size: 40px;
}
div.index_other_serves_box > div.index_other_serves{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    max-width:1200px;
    height: 100%;
    margin:10px 0px;
}

div.index_other_serves_box > div.index_other_serves >div.index_other_serves_main{
    width:230px;
    margin:0px 15px;
}
div.index_other_serves_box > div.index_other_serves >div.index_other_serves_main >a {
    display:flex;
    flex-direction: column;
}
div.index_other_serves_box > div.index_other_serves >div.index_other_serves_main:hover{
    transform:scale(1.1,1.1);
}
div.index_other_serves_box > div.index_other_serves >div.index_other_serves_main > a:hover{
    transform:scale(1.1,1.1);
} 
div.index_other_serves_box > div.index_other_serves >div.index_other_serves_main > a >h2{
    margin:35px 0px;
    font-weight: 700;
    color:#000000;
}
div.index_other_serves_box > div.index_other_serves >div.index_other_serves_main > a >h2:hover{
    font-size:30px;
}
/*協助我們-助糧計畫、小小志工*/
div.index_give_help_box{
    font-size: 0px;
    text-align: center; 
    display:flex;
    justify-content:center; 
    flex-direction: column;
    width:1500px;
    padding:100px 0px;
    flex-wrap:wrap;
    width:1200px;
    /* border:1px solid red; */
    margin-top:100px;
}
div.index_give_help_box > h1{
    text-align: center;
    font-size: 40px;
}
div.index_give_help_box > div.index_give_help{
    display:flex; 
    justify-content:center;
    text-align: center;
    font-size: 40px;
    /* border:1px solid blue; */
    flex-direction: row;
    width:1200px;
}    
div.index_give_help_box > div.index_give_help > div.index_give_help_main{
    /* border:1px solid green; */
    width:300px;
    margin:0px 50px;
}
div.index_give_help_box > div.index_give_help > div.index_give_help_main > a {
    vertical-align: bottom;
}
div.index_give_help_box > div.index_give_help > div.index_give_help_main > a >h2{
    margin:50px;
}
div.index_give_help_box > div.index_give_help > div.index_give_help_main > a > div{
    height:150px;
    margin:15px 0px 25px 0px;
    /* border:1px solid red; */
}
div.index_give_help_box > div.index_give_help > div.index_give_help_main > a > div>p{
    margin:15px 0px;
    font-size:22px;
    font-weight: 500;
    color:#000000;
    /* border:1px solid blue; */
}
div.index_give_help_box > div.index_give_help > div.index_give_help_main > a > div>p >span.index_give_help_main_text{
    color:rgb(255,0,0);
}
div.index_give_help_box > div.index_give_help > div.index_give_help_main > a >span{
    /* border:1px solid red; */
    font-size:24px;
}
div.index_give_help_box > div.index_give_help > div.index_give_help_main:hover{
    transform:scale(1.1,1.1);
}
/*動知識*/
div.index_artical_box{
    display:flex;
    flex-direction:column;
    /* padding:150px 40px; */
    margin-bottom: 120px;
    text-align: center;
    width:1200px;
    /* border:1px solid rgb(0, 255, 153); */
}
div.index_artical_box > h1{
    /* text-align: center; */
    font-size: 40px;
}
div.index_artical_box > div.index_artical_main_contant{
    display:flex;
    flex-direction: row;
    /* border:1px solid rgb(50, 50, 223); */
    width:1200px;
}
div.index_artical_box > div.index_artical_main_contant > div.index_artical{
    /* border:1px solid red; */
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 400px;
    justify-content: center;
    padding:60px 10px;
    text-align: center;
}
div.index_artical_box  > div.index_artical_main_contant > div.index_artical > div.index_artical_contant > h2{
    padding:20px;
    font-weight: 700;    
    height:100px;
    text-align:left;
}
div.index_artical_box > div.index_artical_main_contant > div.index_artical >div.index_artical_contant > div.index_artical_contant_pic >img{
    width:350px;
}
   
div.index_artical_box > div.index_artical_main_contant > div.index_artical >div.index_artical_contant  > div.index_artical_contant_descript >p{
    text-align: left;
    margin:10px 0px;
    /* border:1px solid red; */
}    
div.index_artical_box > div.index_artical_main_contant > div.index_artical >div.index_artical_contant > div.index_artical_contant_descript{
    border:1px solid green;
    display:block;
    width:350px;
    height:350px;
    text-align:left;
    padding:20px 15px;
}
div.index_artical_box > div.index_artical_main_contant > div.index_artical >div.index_artical_contant > div.index_artical_contant_descrip >div.index_artical_contant_descript_more >a{
    border:1px solid red;
}
div.index_artical_box > div.index_artical_main_contant >div.index_artical > div.index_artical_contant > div.content_pic{
    width: 100%;
    max-width:450px;
    min-width:300px;
    border-radius:300px 100px 300px 100px;
}
/*相關影片*/
div.index_media_box{
    padding:150px 40px;
    margin-bottom: 120px;
    text-align: center;
    border:1px solid red;
    display:flex;                 
    flex-direction:column;
    flex-wrap:wrap ;
    width:600px;
    margin:0 auto;
}
div.index_media_box > div.index_media_contant{
    border:1px solid blue;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:600px;
    justify-content:flex-start;
    padding:60px 30px;
    /* text-align: left; */
}    
div.index_media_box > div.index_media_contant > div.index_media{
    width:400px;             
    border:1px solid green;
    margin:10px;
}