/*abandoned部分*/
div.abandoned{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding:0px 40px;
    text-align:center;
    align-items: center;
}
.abandoned_box {
    display:flex;
    align-content: center; 
    display:block;
    /* padding:100px 10px; */
    background-size:contain;
    overflow:hidden;
    margin-top:200px;
}
.abandoned > .abandoned_box > .abandoned_box_pic{
    display:flex;
    width:1500px;
    /* min-width: 300px;
    max-width: 1900px; */
    text-align:center;
    padding:10px 0px;
}

.abandoned_pic{
    width:100%;
    height: auto;
    text-align:center;
    padding:0px 28px;
}
.abandoned_description{
    text-align:center;
    padding:20px;
    /* font-size:80px; */
    letter-spacing:8px;
    line-height: 24px;
 }
/* 領養區 */
div.index_adopt_box{
    /* border:1px solid red;  */
    font-size: 0px;
    text-align: center;
    display:flex;
    justify-content:center; 
    flex-direction: column;
    width:1800px;
    padding:100px 0px;
    /* background-color:#EDECE9;
    border-radius: 500px 300px 400px 500px;
    clip-path:circle(70% at 50% 50% ) ; */
}
div.index_adopt_box >h1{
    text-align: center;
    font-size: 40px;
}
div.index_adopt_box > div.index_adopt_description{
    font-size:20px;
}
div.index_adopt_box >div.index_adopt{
    /* border:1px solid blue; */
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    max-width:1500px;
    height: 100%;
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic{
    /* border:1px solid yellow; */

}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic:hover{
    transform:scale(1.1,1.1);
}
div.index_adopt_box >div.index_adopt_pic_box{
    /* border:1px solid red; */
    display:flex;
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic > a {
    /* border:1px solid green; */
    position:relative;
    font-size:20px;
    color:#ffffff;
    /* width:200px; */
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic > a:hover {
    /* border:1px solid green; */
    position:relative;
    font-size:26px;
    color:#ffffff;
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic > a>img{
    width:300px;
    margin:10px;
}
div.index_adopt_box >div.index_adopt >div.index_adopt_pic > a >span{
    /* border:1px solid red; */
    position:absolute;
    display:flex;
    right: 50px;
    top:-35px;
}



 /*領養不棄養標語*/
.adopt_dont_abandon{
    display:flex;
    justify-content: center;
    padding:100px 0px; 
    /* border:1px solid red; */
}  
div.adopt_dont_abandon > div.adopt_dont_abandon_slogan > a > span::before{
    content:"";
    /* border:1px solid red; */
}
div.adopt_dont_abandon > div.adopt_dont_abandon_slogan > a > span > img.slogan{
    display:flex;
    /* border:1px solid red; */
    width:900px;
    height:100%;
    min-width: 350px;
} 


/*adopt部分*/
/* div.adopt_box{
    background-size: contain;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    background-color:#EDECE9 ;
    padding:30px 0px;
    border-radius: 50px;
    border:1px solid red;
    padding:30px;
    margin:40px;
}
div.adopt_box > div >h1{
    border:1px solid red;
    display:flex;
    justify-content: center; 

}
div.adopt_box > div.adopt_box_pic_box{
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    border:1px solid red;
}
div.adopt_box > div.adopt_box_pic_box > div.adopt_box_pic{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    border:1px solid blue;
} 
img.adopt_pic{
    background-size: contain;
    display:inline-block;
    max-width: 110px;
    max-height:110px;
    border:0px;
    border:1px solid red;
}

.adopt_animals_box {
   border:1px solid blue;
}
div.adopt_box > div.adopt_box_pic_box > div.adopt_animals_box > div.adopt_box_pic {
    border:1px solid yellow;
}
div.adopt_box > div.adopt_box_pic_box > div.adopt_animals_box >h2{
    display:inline-block;
} */
.main_content{
    padding:150px 40px;
    margin-bottom: 120px;
    text-align: center;
}
.main_content > h1{
    text-align: center;
    font-size: 40px;
}
.content_box{
    /* border:1px solid red; */
    display:flex;
    width: 100%;
    min-width:600px;
    justify-content: center;
    padding:60px 30px;
    text-align: center;
    max-width:600px;
}
.content_box_descript > h2{
    padding:20px;
    font-weight: 700;
}
.content_box_descript > p{
    text-align: left;
}    
.content_box_descript{
    /* border:1px solid green; */
    display:block;
    min-width:300px;
    max-width:800px;
    text-align:center;
    padding:50px 15px;
}
/* .content_box_descript > h1{
    border:1px solid blue;
}
.content_box_descript > p{
    border:1px solid yellow;
} */
/* .content{
    border:2px solid black;
} */
.content_pic{
    width: 100%;
    max-width:450px;
    min-width:300px;
    border-radius:300px 100px 300px 100px;
}
